img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  display: block;
}
.productItem {
  border-radius: 1rem;
  box-shadow: 0.1rem 0.4rem 0.5rem rgba(0, 0, 0, 0.7);
  border: 1px solid wheat;
}
.productInfo {
  width: 100%;
  font-size: large;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: tomato;
  padding: 1rem;
  font-size: 1rem;
}
button {
  padding: 0.2rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: white;
  text-align: center;
}
button:hover {
  background-color: wheat;
}
